.scienceWork {
  font-family: "ProximaNovaRegular";
}

.pageTitle {
  font-size: 44px;
  margin-top: 30px;
}

.select-work {
  background-color: #F5F5F7;
  padding-top: 17px;
  padding-bottom: 17px;

  .category-selected {
    font-weight: bold;
    cursor: pointer;
  }
}

.categories-title {
  display: flex;
  padding-bottom: 36px;
  padding-top: 36px;
}
.category-title {
  margin-bottom: 20px;

  &:hover {
    .category-delete {
      display: inline-block;
    }
  }
}

.category-delete {
  display: none;
  cursor: pointer;
}

.categories-block {
  position: relative;
  z-index: 201;
}

.categories-selector {
  width: 100%;
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.cross-col {
  padding-top: 36px;
  cursor: pointer;
}

.selectWork {
  cursor: pointer;
  margin-top: 20px;
  padding-left: 5px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;

  .selected {
    border-bottom: 1px solid #0061D9;
    padding-bottom: 5px;
  }

  &-item:hover {
    border-bottom: 1px solid #0061D9;
    padding-bottom: 5px;
  }
}

.search {
  margin-top: 20px;
}

.advanced-search {
  margin-top: 20px;
}

.documents {
  margin-top: 20px;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 201;
}

.add-document {
  span {
    text-decoration: underline;
  }
  color: #0050B2;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: -43px;
  width: 180px;
}

.add-document-top {
  cursor: pointer;
}


