.avatar-uploader .el-upload {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader-icon {
  font-size: 40px;
  color: #909399;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar-uploader-icon:hover {
  color: #409eff;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.form {
  padding-right: 40px;
}

.teacher {
  font-family: "ProximaNovaRegular";
}

.pageTitle {
  font-size: 44px;
  margin-top: 30px;
}