### Project ###
## Directories
*.idea
*.vscode
__pycache__

## Files
.DS_Store
.python-version

### Back end ###
## Directories
back-end/media

## Files

### Front end ###
## Directories
front-end/dist
front-end/node_modules

## Files

### Telegram Bot ###
## Directories

## Files
tgbot/.env
