### Project ###
## Directories
*.idea
*.vscode
*.devcontainer
__pycache__
.ipynb_checkpoints

## Files
.env*
.DS_Store
.python-version

### Back end ###
## Directories
back-end/backups
back-end/media

## Files

### Front end ###
## Directories
front-end/dist
front-end/node_modules

## Files

### Telegram Bot ###
## Directories

## Files
tgbot/.env

### WatchDoc ###
## Directories
watchdoc/generated/*
!watchdoc/generated/.gitkeep

## Files
watchdoc/service-account.json
watchdoc/credentials.json
watchdoc/tokens.json
watchdoc/.env
