### Project ###
## Directories
*.idea
*.vscode

## Files
.DS_Store

### Back end ###
## Directories
back-end/documents
__pycache__

## Files
.python-version

### Front end ###
## Directories
front-end/dist
front-end/node_modules

## Files
front-end/package-lock.json
