.student-page {
  font-family: "ProximaNovaRegular";
}

.page-title {
  font-size: 44px;
  margin-top: 30px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }
}

.row {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  margin: 20px 0;
}

.column {
  width: 50%;

  & + & {
    margin-left: 20px;
  }

  div + div {
    margin-top: 20px;
  }
}
