@import "@/styles/variables.scss";

.subjects {
  padding-top: 15px;
  padding-bottom: 15px;
}

.scienceWork {
  font-family: "ProximaNovaRegular";
}

.pageTitle {
  font-size: 44px;
  margin-top: 30px;
}

.advanced-search {
  margin-top: 20px;
}

.subject-form {
  margin-top: $xxl;
}
