@import "@/styles/variables.scss";

.topics {
  font-size: 18px;
  font-weight: lighter;

  .add-theme {
    background: $darkBlue;
    width: 100%;
    padding-top: $m;
    padding-bottom: $m;
    margin-top: $l;
  }

  .topic {
    margin-top: 20px;
    padding: 20px 16px 20px;
    border: 1px solid #E5E5EB;
    border-radius: 12px;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-download-all {
      font-size: 14px;
      color: #0c4b9a;
      cursor: pointer;
    }
    &-content {
      margin-top: $s;
      margin-bottom: $xs;
    }
    &-files {
      width: 100%;
      .files {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .file {
          min-width: 49%;
          margin: 10px 16px 10px 0;
          border: 1px solid #e5e5e5;
          border-radius: 12px;
          position: relative;
          display: flex;
          align-items: center;
          &-icon {
            margin: 30px 15px;
          }
          &-title {
          }
          &-kebab {
            position: absolute;
            top: 14px;
            right: 14px;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
      margin-bottom: 20px;
      .file-section {
        &-title {
          cursor: pointer;
          font-size: 14px;
          color: #0c4b9a;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          border-bottom: 1px solid #e5e5e5;
          margin-top: 10px;
        }
      }
    }
  }
}

.buttons {
  z-index: 4;
  align-items: center;
  justify-content: center;
  img {
    cursor: pointer;
    margin-left: $s;

    &.grow {
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.title-input {
  font-family: ProximaNovaRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

/deep/.el-input__inner {
  color: $black;
  font-weight: 600 !important;
}

/deep/.el-textarea__inner {
  color: $black;
  padding-left: 0;
  font-family: ProximaNovaRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
