.pageTitle {
  font-size: 44px;
  margin-top: 30px;
}

.filterRow {
  margin-bottom: 15px;
}

.mark-journal-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover .create-mark-btn {
    opacity: 1;
  }

  .create-mark-btn {
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 2rem;
    width: 2rem;
    align-self: center;
  }
}

.my-tabs ::v-deep .el-tabs__item {
  font-size: 1.4rem;
}

.header-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-lesson-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  padding-top: 5px;
}

.drawer-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20em;
}

.is-clickable {
  cursor: pointer;
}

.margin-x {
  margin-left: 2px;
  margin-right: 2px;
}

.lesson-info-table {
  border-collapse: collapse;
  width: auto;
  margin: -20px 10px 20px;
  font-size: 15px;
}

.field-name {
  padding-right: 10px
}