[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docxtpl = "*"
fastapi = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
jinja2 = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"
