[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "3.2"
django-silk = "4.1"
pylint = "2.8.2"
pylint-django = "2.4.4"
pytest-django = "6.2.4"
yapf = "0.31"

[packages]
django = "==3.2.10"
django-cors-headers = "3.7"
django-dbbackup = "3.3"
django-extra-fields = "3.0"
django-filter = "2.4"
django-ordered-model = "3.4"
django-taggit = "2.0"
djangorestframework = "3.12"
djangorestframework-simplejwt = "5.0.0"
drf-spectacular = "0.16"
drf-writable-nested = "0.6"
gunicorn = "==20.1"
pillow = "8.3.2"
psycopg2-binary = "2.8.6"
requests = "2.25"
uvicorn = "==0.16"
xlsxwriter = "1.4"

[requires]
python_version = "3.10"
