[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-silk = "*"
pylint = "*"
pylint-django = "*"
pytest-django = "*"
yapf = "*"
django-debug-toolbar = "*"

[packages]
django = "*"
django-cors-headers = "*"
django-filter = "*"
django-ordered-model = "*"
django-taggit = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
drf-writable-nested = "*"
psycopg2-binary = "*"
uvicorn = "*"
django-extensions = "*"

[requires]
python_version = "3.8.5"
