.pageTitle {
  font-size: 44px;
  margin-top: 30px;
}

.filterRow {
  margin-bottom: 15px;
}

.create-lesson-btn {
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 2rem;
  width: 2rem;
  align-self: center;
}
.lesson-journal-cell:hover .create-lesson-btn {
  opacity: 1;
}

.my-tabs /deep/ .el-tabs__item {
  font-size: 1.4rem;
}
