.mysearch {
  border-bottom: 1px solid #A7A7AB;
  .words-search {
    width: 100%;
    background-color: inherit;
    border:none;
    padding-bottom: 10px;
   &:focus {
     outline: none;
   }
  }
  .search-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
  }
}
