QUIZZES_HOST=0.0.0.0
QUIZZES_PORT=5050

# Database
QUIZZES_DB_HOST=quizzes-db
QUIZZES_DB_PORT=5432
QUIZZES_DB_NAME=quizzes_db
QUIZZES_DB_USER=quizzes_user
QUIZZES_DB_PASSWORD=quizzes_password

AUTH_BASE_URL=http://back-end:9090
