.count {
  font-size: 18px;
}

.cool-hr {
  hr {
    border: 0.5px solid #d9d9de;
    width: 90%;
  }
}

.document-card {
  &-title {
    font-size: 22px;
    color: #0050b2;
    margin-bottom: 7px;
  }

  &-authors {
    color: #333333;
    font-size: 18px;
  }

  &-annotation {
    margin-top: 7px;
    color: #333333;
    font-size: 18px;
  }
}

.download-kebab-button {
  background: transparent;
  border: none;
  color: #606266;
  outline: none;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 201;
  height: 100vh;
}
