.my-advanced-search {
  display: flex;
  justify-content: flex-end;
  &-text {
    color: #0050b2;
    font-size: 18px;
  }

  &-arrow {
    transform: rotate(0deg);
  }
}

.filters {
  color: #76767a;
  font-size: 18px;
  background-color: #f5f5f7;
  display: none;
  &-title {
    margin-bottom: 5px;
  }

  &-select {
    width: 100%;
  }
}
